* {
    box-sizing: border-box;
 }

 body { 
    margin: 0;
 }
 
 .App {
   text-align: center;
 }
 
 .nav {
    background-color: #1c2e3f;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 15vh;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
 }

 .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
 }

 .nav a{
    color: inherit;
    text-decoration: none;
 }


 .match-button {
   background-color: white;
   border: 2px solid #5959db;
   color: black;
   padding: 15px 32px;
   border-radius: 12px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 6cm;
   transition-duration: 0.2s;
   cursor: pointer;
 } 

 .match-button:hover {
   background-color: #5959db;
   color: white;
 }

 .next-button {
   background-color: white;
   border: 2px solid #5959db;
   color: black;
   padding: 15px 32px;
   border-radius: 12px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 1cm;
   transition-duration: 0.2s;
   cursor: pointer;
 }

 .next-button:hover {
   background-color: #5959db;
   color: white;
 }