* {
    box-sizing: border-box;
 }

 body { 
    margin: 0;
 }

 .nav {
    background-color: #1c2e3f;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 15vh;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
 }

 .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
 }

 .nav a{
    color: inherit;
    text-decoration: none;
 }